[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
loguru = "*"
psycopg2 = "*"
xhtml2pdf = "*"

[dev-packages]
loguru = "*"

[requires]
python_version = "3.7"
